<div class="container" style="padding-top: 120px; min-height: 64vh;">
{{#if emptyCart}}
<div class="row">
    <div class="col-md-12 text-center">
            <i class="fa fa-shopping-cart" aria-hidden="true" style="font-size: 80px;color: #f33f3f;"></i>
            <p>Không có sản phẩm nào trong giỏ hàng</p><br>
            <a href="/" class="btn btn-outline-primary">Tiếp tục mua sắm</a>
    </div>
</div>
{{else}}
<!--Giỏ hàng-->
<div class="row">
    <div class="col-md-8 m-auto">
        <div class="alert alert-warning alert-cart" role="alert">
            Số lượng sản phẩm không đủ.
        </div>
    </div>
</div>

<!--Giỏ hàng-->
<form action="/dat-hang" method="POST">
<div class="row">
    <div class="col-md-8 m-auto">
        <h5>GIỎ HÀNG</h5>
        <table class="table table-bordered table-sm table-cart">
            <thead>
                <tr>
                    <th>Hình</th>
                    <th>Sản phẩm</th>
                    <th>Đơn giá</th>
                    <th></th>
                </tr>
            </thead>
            <tbody> 
                {{#each arrCart}}
                <tr>
                    <td><img src="/images/products/{{this.item.tenhinh}}" width="50px"></td>
                    <td>{{this.item.tensp}}</td>
                    <td>
                        <span class="price">{{formatCurrency this.price}}</span>
                        <div class="box-cart-qty">
                            <a href="/gio-hang/update/{{this.item.masp}}" class="qty cart-qty minus">-</a>
                            <input type="number" class="input-qty" value="{{this.qty}}" min="1" max="{{this.item.soluong}}" disabled>
                            <a href="/gio-hang/update/{{this.item.masp}}"class=" qty cart-qty plus">+</a>
                        </div>
                    </td>
                    <!--Delete Cart-->
                    <td><a href="/gio-hang/delete/{{this.item.masp}}"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                </tr>
                {{/each}}
                <tr>
                    <td colspan="2" style="padding-left:30%">Tổng tiền hàng:</td>
                    <td colspan="2" id="total-price">{{formatCurrency totalPrice}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-8 m-auto">
        <a href="/may-anh" class="btn btn-cart">< THÊM SẢN PHẨM KHÁC</a>
        {{!-- <a href="#" class="btn btn-success btn-cart float-right" id="order">ĐẶT HÀNG ></a> --}}
        <button type="submit" class="btn btn-success btn-cart float-right" id="order">ĐẶT HÀNG ></button>
    </div>
</div>
</form>
{{/if}}
</div>



