

<!-- Banner Starts Here -->
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content" style="background:#00000087; padding:10px;"> 
            <h4>MÁY ẢNH</h4>
            <h2>CHÍNH HÃNG</h2>
            {{!-- <h2 style="background: #00000085;padding: 10px; color: #f33f3f;">CHÍNH HÃNG</h2> --}}
          </div>
        </div>
        <div class="banner-item-02">
          <div class="text-content">
            <h4>Flash Deals</h4>
            <h2>Get your best products</h2>
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            <h4>Last Minute</h4>
            <h2>Grab last minute deals</h2>
          </div>
        </div>
      </div>
    </div>
<!-- Banner Ends Here -->


{{!-- Dùng limit trong mysql để lấy có giới hạn --}}
{{!-- Khuyến mãi --}}
<div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Sản phẩm khuyến mãi</h2>
              <a href="/may-anh">xem tất cả <i class="fa fa-angle-right"></i></a>
            </div>
          </div>

          {{#each proList}}
          <div class="col-md-3">
            <div class="product-item">
              <a href="/may-anh/{{this.masp}}" class="link-img"><img src="/images/products/{{this.tenhinh}}" alt=""></a>
              <div class="down-content">
                <a href="/may-anh/{{this.masp}}"><h4>{{this.tensp}}</h4></a>
                
                <div style="min-height: 50px;">
                  <h6>{{formatCurrency this.giagiam}}</h6>
                  <span class="giaban">{{formatCurrency this.giaban}}</span> 
                </div>

                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (24)</span>
                {{#if this.soluong}}
                <a onclick="AddToCart('{{this.masp}}')" class="btn btn-outline-success btn-muahang">Mua hàng</a>
                {{else}}
                <div style="margin-top: 18px;color: #f33f3f;font-weight: 500;font-size: 20px;">HÀNG TẠM HẾT</div>
                {{/if}}
              </div>
            </div>
          </div>
          {{/each}}

        </div>
      </div>
</div>

{{!-- Mới nhất --}}
<div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Sản phẩm mới nhất</h2>
              <a href="/may-anh">Xem tất cả <i class="fa fa-angle-right"></i></a>
            </div>
          </div>

          {{#each list}}
          <div class="col-md-3">
            <div class="product-item">
              <a href="/may-anh/{{this.masp}}" class="link-img">
                <img src="/images/products/{{this.tenhinh}}" width="90%">
              </a>
              <div class="down-content">
                <a href="/may-anh/{{this.masp}}" title="{{this.tensp}}">
                  <h4>{{this.tensp}}</h4>
                </a>
                
                {{#if this.giagiam}}
                <div style="min-height: 50px;">
                  <h6>{{formatCurrency this.giagiam}}</h6>
                  <span class="giaban">{{formatCurrency this.giaban}}</span> 
                </div>
                {{else}}
                <div style="min-height: 50px;">
                  <h6>{{formatCurrency this.giaban}}</h6>
                  {{!-- <span class= "giaban" style="visibility: hidden;">00000</span> --}}
                </div>                  
                {{/if}}

                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (24)</span>
                {{#if this.soluong}}
                <a onclick="AddToCart('{{this.masp}}')" class="btn btn-outline-success btn-muahang">Mua hàng</a>
                {{else}}
                <div style="margin-top:18px;color: #f33f3f;font-weight: 500;font-size: 20px;">HÀNG TẠM HẾT</div>
                {{/if}}
              </div>
            </div>
          </div>
          {{/each}}

        </div>
      </div>
    </div>


{{!-- Nổi bật --}}
{{!-- <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Sản phẩm nổi bật</h2>
              <a href="products.html">xem tất cả <i class="fa fa-angle-right"></i></a>
            </div>
          </div> --}}

          {{!-- {{#each listPro}} --}}
          {{!-- <div class="col-md-3">
            <div class="product-item">
              <a href="#"><img src="assets/images/product_01.jpg" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>Lorem ipsum dolor sit amet consec</h4></a>
                <h6>{{this.book_id}} VND</h6>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (24)</span>
                <a href="#" class="btn btn-outline-success btn-muahang">Mua hàng</a>
              </div>
            </div>
          </div> --}}
          {{!-- {{/each}} --}}

        {{!-- </div>
      </div>
    </div> --}}