<div class="container" style="padding-top: 120px; min-height: 64vh;">
    <div class="row" style="border-bottom: 1px solid rgb(194, 192, 192);">
        <div class="col-md-12"><h4>Hồ sơ của tôi</h4></div>
    </div>
    <div class="row">
        <div class="col-md-3" style="border-right: 1px solid #c2c0c0;margin-top: 8px;">
            <a href="/tai-khoan/me/cap-nhat">Sửa hồ sơ</a><br>
            <a href="/tai-khoan/me/doi-mat-khau">Đổi mật khẩu</a>
        </div>       
        <div class="col-md-9">
            <div class="profile">
                <p>Tên Tài Khoản</p>
                <p>{{taikhoan.tentk}}</p>
            </div>
            <div class="profile">
                <p>Email</p>
                <p>{{taikhoan.email}}</p>
            </div>
            <div class="profile">
                <p>Số Điện Thoại</p>
                <p>{{taikhoan.sodt}}</p>
            </div>
            <div class="profile">
                <p>Địa Chỉ</p>
                <p>{{taikhoan.diachi}}</p>
            </div>
            <div class="profile">
                <p style="align-self: center">Ảnh đại diện</p>
                {{#if taikhoan.anhdd}}
                <img src="/images/auths/{{taikhoan.anhdd}}">
                {{else}}
                <i class="fa fa-user" aria-hidden="true" style="padding-top: 2px; font-size: 20px"></i>
                {{/if}}
            </div>
        </div>
    </div>
</div>

