<div class="container d-flex justify-content-lg-center" style="padding-top: 120px;min-height: 64vh;">
    <div class="box-password">
        <h4 class="text-center mb-2">Thiết lập mật khẩu</h4>
        <div class="text-center mb-2" style="width: 320px">
            Đặt mật khẩu mới cho <br> {{email}}
        </div>
        {{!-- Sau khi đặt lại mật khẩu --}}
        {{#if success}}
        <div class="text-center mb-2" style="width: 320px">
            <i class="fa fa-check" aria-hidden="true" style="color: #38b938"></i>
            Bạn đã thiết lập mật khẩu thành công.
        </div>
        <a href="/tai-khoan" class="btn btn-password">ĐĂNG NHẬP</a>
        {{else}}
        <form action="/tai-khoan/reset-password/{{id}}/{{token}}" method="POST" class="mt-4">
            <div class="form-group">
                <input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password2" name="password2" placeholder="Xác nhận mật khẩu">
            </div>
            {{#if error}}
            <div class="alert alert-danger mt-4">{{error}}</div>
            <div class="text-center">
                <a href="/tai-khoan" class="btn btn-password">QUAY VỀ</a>
            </div>
            {{else}}
        <div class="text-center">
            <button type="submit" class="btn btn-password">TIẾP TỤC</button>
        </div>
            {{/if}}
        </form>
        {{/if}}

    </div>
</div>