<div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Nhà cung cấp sản phẩm</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin">Trang chủ</a></li>
              <li class="breadcrumb-item"><a href="/admin/provider">Nhà cung cấp sản phẩm</a></li>
              <li class="breadcrumb-item active">Thùng rác</li>
            </ol>
          </div>
        </div>
      </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                    Danh sách nhà cung cấp đã xóa
                <a href="/admin/provider" class="btn btn-outline-primary ml-auto">Quay về</a>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center">STT</th>
                            <th class="text-center" scope="col">Mã nhà cung cấp</th>
                            <th class="text-center" scope="col">Tên nhà cung cấp</th>
                            <th class="text-center" scope="col">Email</th>
                            <th class="text-center" scope="col">Số điện thoại</th>
                            <th class="text-center" scope="col">Ngày xóa</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each list}}
                        <tr>
                            <td>{{sum @index 1}}</td>
                            <td>{{this.mancc}}</td>
                            <td>{{this.tenncc}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.sodt}}</td>
                            <td>{{dateFormat this.deletedAt "DD-MM-yyyy HH:mm:ss"}}</td>
                            <td>
                                <a href="" class="btn btn-link btn-restore" data-id="{{this.mancc}}">Khôi phục</a> |
                                <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this.mancc}}" data-target="#delete-provider-modal">Xóa vĩnh viễn</a>
                            </td>
                        </tr>
                        {{else}}
                        <tr>
                            <td colspan="7" class="text-center">
                                Thùng rác trống.
                                <a href="/admin/provider" class="ml-2">Danh sách nhà cung cấp</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{!-- Confirm delete provider ---}}
                <div class="modal fade" id="delete-provider-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Xóa vĩnh viễn loại sản phẩm</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Hành động này không thể khôi phục. Bạn vẫn muốn xóa loại sản phẩm này?
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btn-delete-provider" class="btn btn-danger">Xóa bỏ</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form name="restore-provider-form" method="POST"></form>
<form name="delete-provider-form" method="POST"></form>

<script>
    document.addEventListener("DOMContentLoaded",function(){
        var btnDeleteProvider = document.getElementById("btn-delete-provider");
        var providerId;
        var deleteForm = document.forms['delete-provider-form'];
        var Restorebtn = $('.btn-restore');
        var restoreForm = document.forms['restore-provider-form'];

        //When dialog confirm clicked
        $('#delete-provider-modal').on('shown.bs.modal', function(event) {
            var button = $(event.relatedTarget);
            providerId = button.data("id");
            //console.log(id);
        })
        //console.log(btnDeleteProvider);
        
        btnDeleteProvider.onclick = function() {
            deleteForm.action = '/admin/provider/' + providerId + '/force?_method=DELETE';
            deleteForm.submit();
        }

        Restorebtn.click(function(event) {
            event.preventDefault();
            var providerId = $(this).data('id');
            restoreForm.action = '/admin/provider/'+ providerId + '/restore?_method=PATCH';
            restoreForm.submit();
        })
    })
</script>