<div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Sản phẩm</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin">Trang chủ</a></li>
              <li class="breadcrumb-item active">Sản phẩm</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
</div>

<div class="content">
    <div class="container-fluid">
        {{#if error}} 
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" aria-label="Close">×</button>
            <h5><strong>Cảnh báo!</strong></h5>
            Không thể xóa vì đang tồn tại đơn hàng hoặc phiếu nhập có sản phẩm này
        </div>
        {{/if}}
        <div class="card">
            <div class="card-header d-flex align-items-center">
                    Danh sách sản phẩm. 
                {{#each count_deleted}}
                <a href="/admin/product/trash" class="ml-2">Thùng rác ({{this.deletedCount}})</a>
                {{/each}}
                <a href="/admin/product/create" class="btn btn-link ml-auto">Thêm sản phẩm</a>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center">STT</th>
                            <th class="text-center" scope="col">Mã sản phẩm</th>
                            <th class="text-center" scope="col">Tên sản phẩm</th>
                            <th class="text-center" scope="col">Giá bán</th>
                            <th class="text-center" scope="col">Số lượng</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each list}}
                        <tr>
                            <td>{{sum @index 1}}</td>
                            <td>{{this.masp}}</td>
                            <td>{{this.tensp}}</td>
                            <td>{{formatCurrency this.giaban}}</td>
                            <td>{{this.soluong}}</td>
                            <td>
                                <a href="/admin/product/{{this.masp}}/detail" class="btn btn-link">Xem chi tiết</a>|
                                <a href="/admin/product/{{this.masp}}/edit" class="btn btn-link">Sửa</a>|
                                <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this.masp}}" data-target="#delete-product-modal">Xóa</a>
                            </td>
                        </tr>
                        {{else}}
                        <tr>
                            <td colspan="5" class="text-center">
                                Bạn chưa thêm sản phẩm nào cả. 
                                <a href="/admin/product/create">Thêm sản phẩm</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{!-- Confirm delete product ---}}
                <div class="modal fade" id="delete-product-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Xóa sản phẩm</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Bạn có chắc là muốn xóa bỏ sản phẩm này?
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btn-delete-product" class="btn btn-danger">Xóa bỏ</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form name="delete-product-form" method="POST"></form>

<script>
    document.addEventListener("DOMContentLoaded",function(){
        var btnDeleteProduct = document.getElementById("btn-delete-product");
        var productId;
        var deleteForm = document.forms['delete-product-form'];

        //When dialog confirm clicked
        $('#delete-product-modal').on('shown.bs.modal', function(event) {
            var button = $(event.relatedTarget);
            productId = button.data("id");
            //console.log(id);
        })
        //console.log(btnDeleteProduct);
        
        btnDeleteProduct.onclick = function() {
            deleteForm.action = '/admin/product/' + productId + '?_method=DELETE';
            deleteForm.submit();
        }
    })
</script>