<div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Loại sản phẩm</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin">Trang chủ</a></li>
              <li class="breadcrumb-item"><a href="/admin/category">Loại sản phẩm</a></li>
              <li class="breadcrumb-item active">Thùng rác</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
</div>

<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                    Danh sách loại sản phẩm đã xóa
                <a href="/admin/category" class="btn btn-outline-primary ml-auto">Quay về</a>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center">STT</th>
                            <th class="text-center" scope="col">Mã loại</th>
                            <th class="text-center" scope="col">Tên loại </th>
                            <th class="text-center" scope="col">Ngày xóa</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each list}}
                        <tr>
                            <td>{{sum @index 1}}</td>
                            <td>{{this.maloai}}</td>
                            <td>{{this.tenloai}}</td>
                            <td>{{dateFormat this.deletedAt "DD-MM-yyyy HH:mm:ss"}}</td>
                            <td>
                                <a href="" class="btn btn-link btn-restore" data-id="{{this.maloai}}">Khôi phục</a> |
                                <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this.maloai}}" data-target="#delete-category-modal">Xóa vĩnh viễn</a>
                            </td>
                        </tr>
                        {{else}}
                        <tr>
                            <td colspan="5" class="text-center">
                                Thùng rác trống.
                                <a href="/admin/category" class="ml-2">Danh sách loại</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{!-- Confirm delete category ---}}
                <div class="modal fade" id="delete-category-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Xóa vĩnh viễn loại sản phẩm</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Hành động này không thể khôi phục. Bạn vẫn muốn xóa loại sản phẩm này?
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btn-delete-category" class="btn btn-danger">Xóa bỏ</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form name="restore-category-form" method="POST"></form>
<form name="delete-category-form" method="POST"></form>

<script>
    document.addEventListener("DOMContentLoaded",function(){
        var btnDeleteCategory = document.getElementById("btn-delete-category");
        var categoryId;
        var deleteForm = document.forms['delete-category-form'];
        var Restorebtn = $('.btn-restore');
        var restoreForm = document.forms['restore-category-form'];

        //When dialog confirm clicked
        $('#delete-category-modal').on('shown.bs.modal', function(event) {
            var button = $(event.relatedTarget);
            categoryId = button.data("id");
            //console.log(id);
        })
        //console.log(btnDeleteCategory);
        
        btnDeleteCategory.onclick = function() {
            deleteForm.action = '/admin/category/' + categoryId + '/force?_method=DELETE';
            deleteForm.submit();
        }

        Restorebtn.click(function(event) {
            event.preventDefault();
            var categoryId = $(this).data('id');
            restoreForm.action = '/admin/category/'+ categoryId + '/restore?_method=PATCH';
            restoreForm.submit();
        })
    })
</script>