<div id="order">
<div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Đơn hàng</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin">Trang chủ</a></li>
              <li class="breadcrumb-item active">Đơn hàng</li>
            </ol>
          </div>
        </div>
      </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                Danh sách đơn đặt hàng.
            </div>
            <div class="card-body">
                <strong> Xem: </strong> &nbsp;
                <select class="mb-3" name="sort" id="cbo_sort">
                    <option value="all" id="all" {{#if sort}}{{selectedCBO "all" this.sort}}{{/if}}>Tất cả các đơn hàng</option>
                    <option value="today" id="today" {{#if sort}}{{selectedCBO "today" this.sort}}{{/if}}>Đơn hàng hôm nay</option>
                    <option value="yesterday" id="yesterday" {{#if sort}}{{selectedCBO "yesterday" this.sort}}{{/if}}>Đơn hàng hôm qua</option>
                    <option value="lastweek" id="lastweek" {{#if sort}}{{selectedCBO "lastweek" this.sort}}{{/if}}>Đơn hàng tuần trước</option>
                    <option value="lastmonth" id="lastmonth" {{#if sort}}{{selectedCBO "lastmonth" this.sort}}{{/if}}>Đơn hàng tháng trước</option>
                </select>
                <table class="table table-bordered table-hover" >
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center">STT</th>
                            <th class="text-center" scope="col">Mã đơn hàng</th>
                            <th class="text-center" scope="col">Tên khách hàng</th>
                            <th class="text-center" scope="col">Ngày đặt hàng</th>
                            <th class="text-center" scope="col">Trạng thái</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each list}}
                        <tr>
                            <td>{{sum @index 1}}</td>
                            <td>{{this.madh}}</td>
                            <td>{{this.tenkh}}</td>
                            <td>{{dateFormat this.ngaydat "DD-MM-yyyy"}}</td>
                            <td>{{trangthai this.trangthai}}</td>
                            <td>
                                <a href="/admin/order/{{this.madh}}/detail" class="btn btn-link">Xem chi tiết</a>
                            </td>
                        </tr>
                        {{else}}
                        <tr>
                            <td colspan="6" class="text-center">
                                Bạn chưa có đơn đặt hàng nào cả.
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    $( document ).ready(function() {
        $("#cbo_sort").change(function(event) {
            // Prevent the form from submitting via the browser.
            event.preventDefault();
            console.log(this.value);
            console.log($("#cbo_sort").val());
            
            let cboData = {
                sort: $("#cbo_sort").val()
            };

            $.ajax({
                type : "POST",
                contentType : "application/json",
                url : window.location.pathname, //window.location + "/order",
                data : JSON.stringify(cboData),
                dataType : 'json',
                success : function(data) {
                    //$("#test").html(data.html);
                    $("#order").html(data.html);
                    
                },
                error : function(e) {
                    console.log("ERROR: ", e);
                }
            })
        });
    })
</script>