

<!-- Banner Starts Here -->
    <div class="page-heading products-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4></h4>
              <h2></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- Banner Ends Here -->

<div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="img-brand">
              {{#each brands}}
              <a href="/may-anh/thuong-hieu?math={{this.math}}" title="{{this.tenth}}">
                <img src="/images/brands/{{this.tenhinh}}" alt="{{this.tenth}}" height="100%">
              </a> 
              {{/each}}
            </div>
          </div>

          <div class="col-md-12">
            <div class="filters">
              <ul>
                  <li >Sắp xếp : </li>
                  <li><a href="#" id="lasted">Mới nhất</a></li>
                  <li><a href="#" id="priceAsc">Giá tăng</a></li>
                  <li><a href="#" id="priceDesc">Giá giảm</a></li>
              </ul>
            </div>
          </div>
          </div>
          <div class="row">
          <!-- Menu bên phải-->
          <div class="col-md-3">
              <table class="table tb-type table-sm">
                <thead>
                  <tr>
                    <th>LOẠI MÁY ẢNH</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each types}}
                  <tr>
                    <td><a href="/may-anh/loai?maloai={{this.maloai}}">{{this.tenloai}}</a></td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>

              <table class="table tb-type table-sm">
                <thead>
                  <tr>
                    <th>MÁY ẢNH</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="/may-anh/gia?value=under">Dưới {{formatCurrency 10000000}}</a></td>
                  </tr>
                  <tr>
                    <td><a href="/may-anh/gia?value=upper">Trên {{formatCurrency 10000000}}</a></td>
                  </tr>
                </tbody>
              </table>
          </div>

          <!--Sản phẩm và Phân trang-->
            <div class="col-md-9">
              <div class="row">               
                <div class="col-md-12">
                  <div class="filters-content">
                      <div class="row" id="result-sort">

                        {{#each list}}
                          <div class="col-lg-4 col-md-4">
                            <div class="product-item">
                              <a href="/may-anh/{{this.masp}}" class="link-img"><img src="/images/products/{{this.tenhinh}}" alt="{{this.tenhinh}}"></a>
                              <div class="down-content">
                                <a href="/may-anh/{{this.masp}}" title="{{this.tensp}}"><h4>{{this.tensp}}</h4></a>

                                {{#if this.giagiam}}
                                <div style="min-height: 50px;">
                                  <h6>{{formatCurrency this.giagiam}}</h6>
                                  <span class="giaban">{{formatCurrency this.giaban}}</span> 
                                </div>
                                {{else}}
                                <div style="min-height: 50px;">
                                  <h6>{{formatCurrency this.giaban}}</h6>
                                </div>
                                {{/if}}
                                
                                <ul class="stars">
                                  <li><i class="fa fa-star"></i></li>
                                  <li><i class="fa fa-star"></i></li>
                                  <li><i class="fa fa-star"></i></li>
                                  <li><i class="fa fa-star"></i></li>
                                  <li><i class="fa fa-star"></i></li>
                                </ul>
                                <span>Reviews (24)</span>
                                {{#if this.soluong}}
                                <a onclick="AddToCart('{{this.masp}}')" class="btn btn-outline-success btn-muahang">Mua hàng</a>
                                {{else}}
                                <div style="margin-top: 18px;color: #f33f3f;font-weight: 500;font-size: 20px;">HÀNG TẠM HẾT</div>
                                {{/if}}
                                
                              </div>
                            </div>
                          </div>
                          {{/each}}
                      </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <ul class="pages">
                    {{#if math}}
                      {{#each pages }}
                      <li id="page{{this}}"><a href="/may-anh/thuong-hieu?math={{../math}}&page={{this}}">{{this}}</a></li>
                      {{/each}}
                    {{else if maloai}}
                      {{#each pages }}
                      <li id="page{{this}}"><a href="/may-anh/loai?maloai={{../maloai}}&page={{this}}">{{this}}</a></li>
                      {{/each}}
                    {{else if gia}}
                      {{#each pages }}
                      <li id="page{{this}}"><a href="/may-anh/gia?value={{../gia}}&page={{this}}">{{this}}</a></li>
                      {{/each}}
                    {{else}}
                      {{#each pages }}
                      <li id="page{{this}}"><a href="/may-anh?page={{this}}">{{this}}</a></li>
                      {{/each}}
                    {{/if}}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!--============MODAL===============-->

<!-- Button trigger modal -->
{{!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button> --}}

<!-- Modal -->
{{!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> --}}

